.history
/CD2/.vs/CD2/FileContentIndex/49877815-d97f-49e2-8a66-698d49906dc5.vsidx
/CD2/.vs/CD2/FileContentIndex/49877815-d97f-49e2-8a66-698d49906dc5.vsidx
/CD2/original1.CanvasAccountsSchoolsColleges.py
/CD2/original1.discussions.md
/CD2/original1.enrollments.md
/CD2/original1.gradebook.md
/CD2/original1.kalturaWikiEmbeds.md
/CD2/original1.MiVideo.md
/CD2/original1.MyLA.md
/CD2/original1.rolled_up_subaccounts.csv
/CD2/original1.rubrics.md
/CD2/original1.subaccounts.csv
/CD2/original1.subaccounts_with_school_college.csv
/CD2/original1.submissions.md
